@model ProductVM


<div class="card shadow border-0 mt-3">
    <div class="card-header bg-secondary bg-gradient py-1">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary">Create Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">
                @*<div asp-validation-summary="ModelOnly"></div>*@
                <div class="form-floating py-2 col-12">
                    <input asp-for="Product.Title" class="form-control border-0 shadow" />
                    <label asp-for="Product.Title" class="ms-1 mt-1"></label>
                    <span span asp-validation-for="Product.Title" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Product.Description" class="form-control border-0 shadow" />
                    <label asp-for="Product.Description" class="ms-1 mt-1"></label>
                    <span span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Product.Actors" class="form-control border-0 shadow" />
                    <label asp-for="Product.Actors" class="ms-1 mt-1"></label>
                    <span span asp-validation-for="Product.Actors" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Product.ListPrice" class="form-control border-0 shadow" />
                    <label asp-for="Product.ListPrice" class="ms-1 mt-1"></label>
                    <span span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Product.Price" class="form-control border-0 shadow" />
                    <label asp-for="Product.Price" class="ms-1 mt-1"></label>
                    <span span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Product.Price3" class="form-control border-0 shadow" />
                    <label asp-for="Product.Price3" class="ms-1 mt-1"></label>
                    <span span asp-validation-for="Product.Price3" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Product.Price5" class="form-control border-0 shadow" />
                    <label asp-for="Product.Price5" class="ms-1 mt-1"></label>
                    <span span asp-validation-for="Product.Price5" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <select asp-for="@Model.Product.CatId" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
                        <option disabled selected>Select Category</option>
                    </select>
                    <label asp-for="Product.CatId" class="ms-1 mt-1"></label>
                    <span span asp-validation-for="Product.CatId" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary form-control">Create</button>
                    </div>
                    <div class="col-6">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary form-control">Back To List</a>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
 }