@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row shadow rounded ">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div id="carouselExampleControls" class="carousel slide h-100 pt-1 pb-1" data-bs-ride="carousel">
                <div class="carousel-inner h-100">
                    <div class="carousel-item active h=100">
                        <img src="/images/carousel/ksaDjd.jpg" class="d-block w-100 h-100">
                    </div>
                    <div class="carousel-item ">
                        <img src="/images/carousel/051750449035193.jpg" class="d-block w-100 h-100">
                    </div>
                    <div class="carousel-item">
                        <img src="images/carousel/p22557011_v_h8_ab.jpg" class="d-block w-100 h-100">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 align-content-center pt-2 text-center">
            <div class="mb-4 pt-2"><h2>The Best <span class="text-success fst-italic"> Movie's All Time</span></h2></div>
            <div class="mb-4"><span class="fst-italic fw-bolder">Unlimited movies, TV shows, and more</span></div>
            <div class="mb-4"><span class=" fst-italic fw-bolder">Watch now, cancel anytime.</span></div>
            <div class="mb-2"><span class="fst-italic fw-bolder">Enjoy on your TV</span></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-6">
            <h2 class="fst-italic pt-2 pb-2 ">Coming This Week</h2>
            <div id="todaySpecial" class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="card dishCard">
                        <img class="card-img-top h-100" src="/images/under_carousel/the-makers-of-kgf-1-film-to-be-released-on-28th-september-2023-001.jpg"/>
                    </div>
                    <div class="card-body">
                        <p class="card-title fw-bold pt-1">Rebelling Worldwide (2023)</p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="card dishCard">
                        <img class="card-img-top h-100" src="/images/under_carousel/Fast-X-785x515.jpg"/>
                    </div>
                    <div class="card-body">
                        <p class="card-title fw-bold pt-1">Fast X (2023)</p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="card dishCard">
                        <img class="card-img-top h-100" src="/images/under_carousel/GlassFINALE-e1544552961805.jpg"/>
                    </div>
                    <div class="card-body">
                        <p class="card-title fw-bold pt-1">Glass (2023)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
